body{
background-color:#FFFFFF;
}


/* Page Layout Design Using Grid For All  Admin & User Forms Start */

#grid-container-offcanvas {
    display: grid;
    grid-template-areas:
        "header header header"
        "offcanvas mainContent mainContent"
        "developer name contact";
    grid-template-columns: 250px 1fr 7fr;
    grid-template-rows: 80px 665px 56px;
    /* gap: 3px; */
    /* padding: 10px; */
    /* background-color: dodgerblue; */
}

#grid-container-offcanvas div {
    padding: 10px;
    /* background-color: white; */
}

#header {
    grid-area: header;
    background-color:seagreen;
    /* box-shadow: dodgerblue 1px 5px 15px 1px; */
}

#offcanvas {
    grid-area: offcanvas;
    background-color:seagreen !important;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

#main-content {
    grid-area: mainContent;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

#developer {
    grid-area: developer;
    background-color: seagreen;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-size: large
}

#name {
    grid-area: name;
    background-color: seagreen;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: large;
    font-weight: bolder;
}

#contact {
    grid-area: contact;
    background-color: seagreen;
    display: flex;
    flex-direction: column;
    /* justify-content: end;*/
    align-items: end;
    color: white;
    font-weight: bolder;
    font-size: 15px;

}

/* Page Layout Design Using Grid For All Admin Forms End */


/*  Page Layout Design Using Grid For All  User Forms Start  */
#grid-container-offcanvas-user {
    display: grid;
    grid-template-areas:
        "header-user header-user header-user"
        "offcanvas-user mainContent-user mainContent-user"
        "developer-user name-user contact-user";
    grid-template-columns: 250px 1fr 7fr;
    grid-template-rows: 80px 665px 56px;
    /* gap: 3px; */
    /* padding: 10px; */
    /* background-color: dodgerblue; */
}

#grid-container-offcanvas-user div {
    padding: 10px;
    /* background-color:red; */
}

#header-user {
    grid-area: header-user;
    background-color:dodgerblue;
    /* box-shadow: dodgerblue 1px 5px 15px 1px; */
}

#offcanvas-user {
    grid-area: offcanvas-user;
    background-color:dodgerblue !important;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

#main-content-user {
    grid-area: mainContent-user;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

#developer-user {
    grid-area: developer-user;
    background-color: dodgerblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-size: large
}

#name-user {
    grid-area: name-user;
    background-color: dodgerblue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: large;
    font-weight: bolder;
}

#contact-user {
    grid-area: contact-user;
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
    /* justify-content: end;*/
    align-items: end;
    color: white;
    font-weight: bolder;
    font-size: 15px;

}
/* Page Layout Design Using Grid For All  User Forms Start */



#grid-container{
display:grid;
grid-template-areas:"header1"
                    "header2"
                    "mainContent";
grid-template-rows:120px 80px 570px;
             gap:3px;
             padding:10px;


}
#grid-container div{

padding:10px;

}
#tms_title{
grid-area:header1;
text-align:center;
/* padding:10px; */
/* background-color: white; */
/* height:140px; */
/* border:1px solid black; */
/* display:flex; */
justify-content:center;
align-items:center;


}

#role_selection_title{
grid-area:header2;
/* background-color: white; */
text-align:center;
/* height:140px; */
/* border:1px solid black; */
/* display:flex;
justify-content:center;
align-items:center; */

}

#role_selection_card{
    grid-area:mainContent;
    margin-top:20px;
/* box-shadow: seagreen 1px 5px 15px 0px; */
height:430px;
padding: 50px;
border-radius:25px;
/* background-color: white; */
display:flex;
justify-content:center;
gap:220px;
}

/* Admin Login Form Design Start */
#adminLoginDiv{
box-shadow: seagreen 1px 5px 15px 1px;
/* border:1px solid red; */
border-radius: 20px;
margin: 150px;
height:500px;
display:flex;
justify-content:flex-end;
align-items:center;
background-image: url('../Images/task_management_image_admin.jpg');
background-repeat:no-repeat;
background-size:cover;
 background-position-y: -160px;


}
#adminLoginForm{

box-shadow: seagreen 1px 5px 15px 1px;
border-radius:5%;
display: flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
height:280px;
width:350px;
margin-right:100px;
}

#adminName{
    width:270px;

}
#adminPassword{
width:270px;

}
#adminLoginBtn{

width: 270px;
/* margin-top:120px; */


}

/* Admin Login Form Design End */

/* Admin DashBoard Design Start */
#admin_dashboard_page_grid {

    grid-template-areas: "header logout"
        "mainContent mainContent";


    grid-template-columns: 5fr 1fr;
    /* grid-template-rows: 500px 200px; */
    gap: 3px;
    padding: 10px;
    background-color: dodgerblue;

}

#admin_dashboard_page_grid div {
    padding: 10px;
    background-color: white;
}

#admin_navbar_header {

    grid-area: header;

}

#admin_navbar_logout {
    grid-area: logout;
}

#admin_dashboard_main_content {

    grid-area: mainContent;

}
/* Admin DashBoard Design End */

/* User Login Form Design Start */


#userLoginDiv{
box-shadow: dodgerblue 1px 5px 15px 1px;
/* border:1px solid red; */
border-radius: 20px;
margin: 150px;
height:500px;
display:flex;
justify-content:flex-end;
align-items:center;
background-image: url('../Images/task_management_image_user.jpg');
background-repeat: no-repeat;
background-size: cover;
}
#userSignUpDiv{
    border:1px solid black;
    display: flex;
    justify-content:center;
    height:600px;
}

#userSignUpForm{
    
    width:500px;
}

#userLoginForm{
box-shadow: dodgerblue 1px 5px 15px 1px;
border-radius:5%;
display: flex;
flex-direction:column;
align-items:center;
text-align:center;
height:280px;
width:350px;
margin-right:100px;

}

#userEmail{
    width:270px;

}
#userName{
    width:270px;

}
#userPassword{
width:270px;

}
#userLoginBtn{

width: 270px;
}

/* User Login Form Design End */



/* Project Form Design Start */



#projectDescription{
    width:480px;
}

/* #projectTable {
    position:absolute;
    top: 140px;
    height: 120px;
    width: 1500px;
    overflow-y: scroll;
} */




/* #projectTableHeader th{

background-color:seagreen;
}
#projectTableBody:hover{
background-color:black;
}

#projectSearchForm{
position:absolute;
top:90px;
width:320px;
border:1px solid black;

}
#projectSearchBar{
margin-left:10px;

width:50px;
height:50px;
border-radius: 50%;
background-image: url('../Images/search_image.jpg');
background-repeat: no-repeat;
background-size:50px;
background-position-y: 4px;
transition: width 1s;
}
#projectSearchBar:focus{
    border-radius: 10px;
    width: 220px;
    padding-left:50px;
    border:none;
} */



/* Project Form Design And Table Design End */

/* Task Form Design Start */
#projectSelection{
width:400px;


}
#projectSelectionToFilterTask{
width:400px;

}
#taskTitle{
width:400px;
border:1px solid black;

}
#taskDescription{
width:400px;
border:1px solid black;

}
#userSelection{
width:400px;
border:1px solid black;

}
#taskPriority{
width:400px;
border:1px solid black;

}

#taskStatus{
border:1px solid black;
width:400px;
}
#taskDeadLine{
width:400px;
border:1px solid black;
}


#showTaskListForm{

position: absolute;
top:180px;
right:20px;
}

/* #fixingScroll{
max-height:200px;

}
#s{

    overflow-y: scroll;
} */
#taskTableGrid {

display:grid;
max-width: 1400px;
max-height:390px;
overflow-y: scroll;

grid-template-columns: 200px 350px 200px 95px 95px 95px;

position: absolute;
right: 20px;
   top: 250px;
    /* width: 1000px;
    height: 300px;
    border: 1px solid red;
     */
    /* gap:1px; */
    /* padding:5px; */
    background-color: dodgerblue;
    border:1px solid black;
}

#taskTableGrid div{
    background-color:white;
    padding:10px;
    
}

#taskTableGrid div#task, div#description,
div#assignedUser, div#priority,
div#deadline, div#status{
position: sticky;
z-index: 1;
top:0;
background-color:black;
border:1px solid black;

color:white;
}


/* Task Form Design End */

/* #failure-notification {
    width: 1200px;
} */
/* Success & Failure Notification Design Start */
#success-notification {
    position: absolute;
    background-color: #2E8B57 !important;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    top: 80px;
    left: 280px;
    height: 40px;
    font-weight: bold;
    font-size: large;
}

#failure-notification {
    position: absolute;
    color: black;
    /* background-color: red !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    top: 100px;
    left: 153px;
    height: 40px;
    font-weight: bold;
    font-size: large;
}
/* Success & Failure Notification Design End */

/*  Admin & User Navbar Design Start */
#navbar-header {

    color: white;
    margin-top: -10px;
    display: flex;
    width: 100%;
    height: 80px;
    /* border: 1px solid white; */
}
#navbar-header-user {

    color: white;
    margin-top: -10px;
    display: flex;
    width: 100%;
    height: 80px;
    /* border: 1px solid white; */
}
#title-label {
    display: flex;
    width: 160%;
    margin-top: -10px
        /* border: 1px solid red; */
}


#title-label-user {
    display: flex;
    width: 160%;
    margin-top: -10px
        /* border: 1px solid red; */
}

#user-image, #admin-image {

    width: 40%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    /* border: 1px solid black; */

}

#logout-btn-div {

    width: 20%;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: end;

}
/* Admin & User Navbar Design End */

/* User Login Image Start */
#task_management_image_user{

    width: 800px;
    margin-left:-50px;
    
}

/* User Login Image End */



/* User Footer Design Start  */


/* User Footer Design End */